*{
    margin: 0;
    padding: 10;
}

h1{
    border-radius: 10px;
    border: 1px;
    opacity: 90%;
    background-color:white;
    font-weight: bold;
    text-align: center;
    width:25cm;

}

h3{
    border-radius: 10px;
    opacity: 90%;
    border: 1px;
    text-align: center;
    width:25cm;
    font-weight:lighter;
    background-color:white;

}

.back{
    min-height: 100vh;
    background-image: url("back4.jpg");
    background-position: center;
    background-size: cover;
    padding-left: 15%;
}