*{
    margin: 0;
    padding: 10;
}

.header {
    min-height : 160vh;
    width: 100%;
    background-image: url("kit.jpg");
    background-position: center;
    background-size: cover;
}
nav{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content:space-between;
    align-items:center;
    background-color :black;
    opacity: 70%;
    padding : 20px;
}
.nav-links{
    width:100%;
    flex:1;
    text-align: center;
}
.nav-links ul li{
    width:100%;
    list-style:none;
    display: inline;
    padding: 20px;
    position:relative;
}
.nav-links ul li a{
    width: 100%;
    color: white;
    text-decoration:none;   
    font-size: 30px;
}
.uni{
    width:100%;
    background-color: rgb(0, 0, 0);
    color: white;
    position:absolute;
    top:70%;
    opacity: 70%;
    text-align: center;
}
.uni h1{
    font-size: 100px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.uni p{ 
    top:90%;
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}